.wd-kanbas-navigation{
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 80px;
    margin: 0px;
}

.wd-kanbas-navigation li {
    padding:10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li  a {
    color:white;
    text-decoration: none;
    align-items: center;

}


.fa-user{
    color: white;
}


.wd-kanbas-navigation li.wd-active{
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a{

    color: red;
}

.wd-kanbas-navigation li a i {
    color: red;
    font-size: 3 em;
    margin-bottom: 5px;
  
}



